<html>
<head>
	<link rel='stylesheet' type='text/css' href='../node_modules/bootstrap/dist/css/bootstrap.min.css'/>
	<link rel='stylesheet' type='text/css' href='../node_modules/angular-bootstrap-grid-tree/src/treeGrid.css'/>

	<title>Apresentação AngularJS</title>

</head>
<body ng-app='appModule' style="margin:20px">

	<div class="row container">
        <h1 class="col-md-12 text-center">tree-grid</h1>
    </div>
	<div ng-controller='RegionController' ng-init="list()">

		<button ng-click="tree_control.expand_all()" class="btn btn-default btn-sm">Expand All</button>
		<button ng-click="tree_control.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
        <input class="input-sm pull-right" type="text" data-ng-model="filterString"	placeholder="Filter" />

        <tree-grid tree-data="tree_data" 
        	tree-control="tree_control" 
        	col-defs="col_defs" 
        	expand-on="expanding_property" 
        	on-select="tree_handler(branch)" 
        	expand-level="2" 
        	icon-leaf= "glyphicon glyphicon-globe">
        </tree-grid>


	</div>

</body>

	<script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
	<script src='../node_modules/angular/angular.min.js'></script>
	<script src='../node_modules/angular-bootstrap-grid-tree/src/tree-grid-directive.js'></script>
	<script src='../node_modules/angular-route/angular-route.min.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js'></script>

	<script src='../scripts/app.js'/>
	<script src='../scripts/config.js'></script>
	<script src='../scripts/utils/requestUtil.js'></script>
	<script src='../scripts/services/regionService.js'></script>
	<script src='../scripts/controllers/regionController.js'></script>


</html>